@model FirstResponsiveWebAppSherzan.Models.EndBirthdateModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["End of Year Calculator"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-grid.min.css" />
    
    <script src="~lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    
</head>
<body>

    <h1>Age At End Of Year</h1>
    <form asp-action="Index" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="FirstName">Enter Your Name:</label>
            <input asp-for="FirstName" />
        </div>
        <div>
            <label asp-for="BirthYear">Enter Birthdate Year:</label>
            <input asp-for="BirthYear" />
        </div>
        <div>
            <label>Age at end of year:</label>
            <input value="@ViewBag.FV.ToString()" readonly />
        </div>
        <button type="submit">Calculate</button>
        <a asp-action="Index">Clear</a>
    </form>

</body>
</html>
